# Git 관련
.git
.gitignore

# Python 캐시
__pycache__/
*.pyc

# 환경파일
.env
*.env

# OS 관련
.DS_Store
Thumbs.db

# 기타
*.log
.vscode/
node_modules/

secret.yaml
*.secret.yaml

# Virtual environment
.venv
venv/
ENV/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
