loki:
  deploymentMode: Distributed

  read:
    replicas: 0
  write:
    replicas: 0
  backend:
    replicas: 0
  singleBinary:
    replicas: 0

  distributor:
    replicas: 1
  ingester:
    replicas: 1
  querier:
    replicas: 1
  queryFrontend:
    replicas: 1
  compactor:
    replicas: 1

  ruler:
    enabled: false
    replicas: 0

  monitoring:
    selfMonitoring:
      enabled: false
    grafanaAgent:
      installOperator: false
    
  test:
    enabled: false

  promtail:
    enabled: false

  loki:
    auth_enabled: false
    podLabels:
      "azure.workload.identity/use": "true"

    schemaConfig:
      configs:
        - from: "2024-04-01"
          store: tsdb
          object_store: azure
          schema: v13
          index:
            prefix: loki_index_
            period: 24h
    storage:
      type: azure
      bucketNames:
        chunks: "loki-logs"
      azure:
        accountName: loki-storage-account
        useFederatedToken: true

  serviceAccount:
    create: true
    name: loki
    annotations:
      "azure.workload.identity/client-id": "c54df909-f598-4733-9238-b641659e20a8"


    