apiVersion: apps/v1
kind: Deployment
metadata:
  name: model-worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: model-worker
  template:
    metadata:
      labels:
        app: model-worker
    spec:
      containers:
        - name: model-worker
          image: ghcr.io/ajh9789/model-worker:latest
          envFrom:
            - secretRef:
                name: azure-secret
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"